<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Search MicroService</title>
</head>
<body>
    <h1>Image Search Abstraction Layer Microservice</h1>
    <ul>
        <strong>User Stories:</strong>
        <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        <li>I can get a list of the most recently submitted search strings.</li>
    </ul>
    <ul>
        <strong>Example Usage:</strong>
        <li><code>https://api-image-search-fcc.herokuapp.com/api/imagesearch/coffee</code></li>
        <li><code>https://api-image-search-fcc.herokuapp.com/api/imagesearch/coffee?offset=2</code></li>
        <li><code>https://api-image-search-fcc.herokuapp.com/api/latest/imagesearch</code></li>
    </ul>

</body>
</html>